@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 700;
  src: local("Gotham Bold"), local("Gotham-Bold"),
    url("../fonts/Gotham-Font/GothamBold.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  src: local("Gotham Regular"), local("Gotham-Regular"),
    url("../fonts/Gotham-Font/GothamMedium.ttf") format("truetype");
}
